<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="/">Foo Resturant</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
      </li>

    </ul>
  </nav>
<div class="container">
    <h4>You Cast: <%= CHOICES[@vote] %></h4>
    <button onclick="document.location='/results'" class="btn btn-success">See results</button>
</div>
