<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Voting App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <h1><%= @title %></h1>
    <%= yield %>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
